---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Portfolio";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="45%" height="100%" alt="Image" src="/selfimage.jpg" style="border-radius: 15px;"/>
    </div>
    <h1>Daniel Alfred Brunhuber</h1>
    <span class="badge">Softwaredeveloper, Designer</span>
    <h2>About</h2>
    <p>
        Hi, my name is Daniel Brunhuber. I’m 20 years old and come from the scenic town of Scheffau am Tennengebirge, surrounded by the breathtaking Austrian Alps. Currently, I’m pursuing my studies at the HTL St. Johann im Pongau, specializing in technology and engineering.
    </p>
    <p>
        While injuries have limited my hobbies recently, they’ve also taught me resilience, adaptability, and a determination to push forward. I have a strong interest in innovation, especially in how technology can solve everyday problems and improve lives.
    </p>
    <p>
        In addition to my studies, I enjoy working on creative projects that blend logic and design. Whether it’s developing intuitive applications or crafting technical solutions, I’m passionate about learning and growing through hands-on experience. Collaboration is something I value highly—I believe that great ideas often come from shared effort and diverse perspectives.
    </p>
    <p>
        As I continue to build my skills and explore new opportunities, I’m excited about the future and the chance to contribute to meaningful projects. If you’re looking to connect, exchange ideas, or work together, I’d love to hear from you!
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Projects</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C#" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="C" src="https://upload.wikimedia.org/wikipedia/commons/1/18/C_Programming_Language.svg"/>
        <img class="skills__img" width="46" height="46" alt="C++" src="https://avatars.githubusercontent.com/u/13841574?v=4"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="55" height="55" alt="JavaScript" src="https://static.vecteezy.com/system/resources/previews/027/127/463/non_2x/javascript-logo-javascript-icon-transparent-free-png.png"/>
        <img class="skills__img" width="35" height="46" alt="Java" src="https://upload.wikimedia.org/wikipedia/de/thumb/e/e1/Java-Logo.svg/1200px-Java-Logo.svg.png"/>
        <img class="skills__img" width="46" height="46" alt="Spring Boot" src="https://img.icons8.com/?size=512&id=90519&format=png"/>
        <img class="skills__img" width="46" height="46" alt="MySQL" src="https://upload.wikimedia.org/wikipedia/de/d/dd/MySQL_logo.svg"/>
        <img class="skills__img" width="46" height="46" alt="Postgres" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/993px-Postgresql_elephant.svg.png"/>
        <img class="skills__img" width="46" height="46" alt="MongoDB" src="https://1000logos.net/wp-content/uploads/2020/08/MongoDB-Logo.png"/>
        <img class="skills__img" width="46" height="46" alt="Angular" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Git" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"/>
    </div>
    <h2>Interests</h2>
    <p>
        In my free time, I’m always on the move, whether it’s hitting the field for a game of football or enjoying any kind of sport that keeps me active. Staying fit and pushing my limits is something I truly enjoy. But my interests go beyond just being active; I have a deep passion for design and love working on creative projects where I can bring new ideas to life, whether it’s digital design or simply sketching. When I need a break, there’s nothing better than escaping into the magical worlds of my favorite fantasy films—they inspire my imagination and creativity. I’m also someone who thrives on new experiences, always looking for an opportunity to try something different and make the most out of life. Whether it’s exploring new places, hanging out with friends, or simply embracing spontaneous adventures, I’m always eager to see where the next day will take me.
    </p>
</Layout>

